body {
    text-align: center;
    background-color: #8ce4ec;
}

img {
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: -1;
    transform: translate(-50%,0);
}

h1 {
    z-index: 10;
    font-size: 70px;
    margin-top: 130px;
}

.red {
    color: red;
}
